<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Mi Sitio Web{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header class="site-header">
        <div class="site-header-container">
            <h1 class="site-header-title">Bienes Raíces</h1>
            <nav class="site-header-nav">
                <ul class="site-header-nav-list">
                    <li class="site-header-nav-item"><a href="{{ url_for('index') }}" class="site-header-nav-link">Inicio</a></li>
                    
                    {% if 'user_id' in session %}
                        {% if session['user_role'] == 'Admin' %}
                            <li class="site-header-nav-item"><a href="{{ url_for('view_agents') }}" class="site-header-nav-link">Ver Agentes</a></li>
                            <li class="site-header-nav-item"><a href="{{ url_for('add_agent') }}" class="site-header-nav-link">Agregar Agentes</a></li>
                            <li class="site-header-nav-item"><a href="{{ url_for('confirmed_appointments') }}" class="site-header-nav-link">Citas Confirmadas</a></li>
                            <li class="site-header-nav-item"><a href="{{ url_for('view_interested') }}" class="site-header-nav-link">Ver Interesados</a></li>

                        {% elif session['user_role'] == 'Agente' %}
                            <li class="site-header-nav-item"><a href="{{ url_for('view_interested') }}" class="site-header-nav-link">Ver Interesados</a></li> 
                            <li class="site-header-nav-item"><a href="{{ url_for('add_property') }}" class="site-header-nav-link">Agregar Propiedad</a></li>
                            <li class="site-header-nav-item"><a href="{{ url_for('confirmed_appointments') }}" class="site-header-nav-link">Citas Confirmadas</a></li>
                        {% elif session['user_role'] == 'Cliente' %}
                            
                        {% endif %}
                        
                        <li class="site-header-nav-item"><a href="{{ url_for('logout') }}" class="site-header-nav-link">Cerrar Sesión</a></li>
                    {% else %}
                        <li class="site-header-nav-item"><a href="{{ url_for('login') }}" class="site-header-nav-link">Inicio Sesión</a></li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </header>
    <main>
